*{
    font-family: Avenir,sans-serif;
    padding: 0px;
    margin: 0pxrext-align: justify;
    box-sizing: border-box
}
body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
header{
    border-bottom: 2.5px solid #fff;
}
header h1{
    color: blue;
    font-size: 1.5em;
    margin: 0 auto;
}
section{
    display:flex;
    flex-flow: row wrop;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}
section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}
.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;

}
.presentation{
    border-bottom: 2px deshed #ccc;
}
.contact-perso{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-perso p:first-child{
    flex: 0 0 40%;
}
.contact-perso p:last-child{
    flex: 0 0 60%;
}
.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.exp h3{
    font-size: 1.2em;
}
.exp h4{
    font-size: 1em;
    font-weight: normal;
}
.comp{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.comp p{
    flex: 0 0 40%;
    text-emphasis: left;
}
.conteneur-barre{
    flex: 0 0 60px;
    border-radius: 5px;
    background-color: grey;
    border-bottom: 1px ridge grey;
}
.barre{
    display: block;
    height: 100%;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
}
.c90{
    width: 90%;
    background-color: #4B8;
}
.c80{
    width: 90%;
    background-color: #4B8;
}
.c90{
    width: 90%;
    background-color: #8B8;
}
.c50{
    width: 900%;
    background-color: #4B8;

}
.presentation, .contact{
    flex: 0 0 45%;
}
.presentation{
    border-bottom: none;
    border-right: 2px solid #ccc;
    padding-right: 20px;
    margin-left: auto;

}
.contact{
    padding-left: 20px;
    margin-right:auto;
}
section {
    width: 100%;
    box-shadow: 0px 0px 10px #bbb;
}






